{$ADDR}:{$PORT} {
    root {$ROOT}
    index index.html

    rewrite {
        if {path} not_starts_with /api
        to {path} /
    }

    proxy /api {$BACKEND_ADDR} {
        transparent
    }

    tls {$TLS}
    log stdout
    errors stdout
}
